form {
    display: grid;
    grid-template-columns: .5fr repeat(2, 1fr) .5fr;
    grid-template-rows: 1fr;
    margin-bottom: 1.5rem;
}

.form__element {
    display: flex;
    flex-direction: column;
}

.user-selection__container {
    display: flex;
    align-items: center;
    height: 100%;
}

label {
    margin-bottom: .25rem;
    font-weight: 600;
    font-size: .75rem;
}

input {
    margin: 0 .25rem;
}

.user-selection__bubble {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}

.user-selection__toggle {
    margin: 0 .25rem;
    width: 1.5rem;
    transition: all .3s ease-in-out;
}

