.w8__add-weight__controls {
  display: grid;
  grid-template-columns: 5.625rem 8.4375rem 6.5625rem;
  grid-column-gap: .25rem;

  label {
    margin-bottom: .25rem;
    font-weight: 600;
    font-size: .75rem;
  }

  input,
  button {
    margin-right: .25rem;
    border-radius: .25rem;
    border: .0625rem solid black;
    height: 1.5rem;
    font-family: sans-serif;
    font-weight: 300;
    font-size: .75rem;
  }

  input:focus {
    outline: .0625rem solid var(--primary-color);
    border: .0625rem solid var(--primary-color);
    color: var(--primary-color);
  }

  input[type="number"] {
    padding-left: .4rem;
  }

  input[type="date"]:hover {
    cursor: text;
  }

  button:hover {
    cursor: pointer;
  }
}

@media (any-hover: none) {
  .w8__add-weight__controls {
    grid-template-columns: 35% 35% 30%;

    input,
    button {
      border: .1250rem solid black;
      height: 2rem;
    }
  }
}