@import "header.css";
@import "table.css";
@import "form.css";

html {
    font-family: sans-serif;
    color: #222222;
}

body {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c388 100%);
}

main {
    border: 1px solid #eeeeee;
    border-radius: .5rem;
    padding: 1.5rem;
    background-color: #fefefe;
    box-shadow:
        0 1px 1px rgba(3, 7, 18, 0.02),
        0 5px 4px rgba(3, 7, 18, 0.03),
        0 12px 9px rgba(3, 7, 18, 0.05),
        0 20px 15px rgba(3, 7, 18, 0.06),
        0 32px 24px rgba(3, 7, 18, 0.08);
}

@media screen and (min-width: 1000px) {
    main {
        width: 50%;
    }
}

canvas {
    margin-bottom: 1.5rem;
    border-radius: .25rem;
    background-color: #fff;
}