table {
    margin-bottom: 1.5rem;
    border-top: .0625rem solid #000;
    border-left: .0625rem solid #000;
    border-right: .0625rem solid #000;
    border-radius: .25rem;
    border-spacing: 0;
    width: 100%;
    background-color: #fff;
}

@media (any-hover: none) {
    table {
        border-top: .1250rem solid #000;
        border-left: .1250rem solid #000;
        border-right: .1250rem solid #000;
    }
}

th {
    font-weight: 500;
    width: 30%;
    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    padding: 0;
    &:hover {
        background: none;
    }
}

th:last-of-type {
    width: 10%;
}

.sortable-column-header:hover {
    background-color: #eee;
    cursor: pointer;
}

#sort-by-weight-icon,
#sort-by-date-icon {
    width: 1rem;
}

th,
tbody tr {
    transition: all 250ms ease-in-out;
}

tbody tr:hover {
    background-color: #eee;
}

th,
td {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: .25rem .75rem;
    font-size: .875rem;
}

td {
    font-weight: 400;
}

td:nth-child(2) {
    text-align: right;
}

td:nth-child(3) {
    text-align: center;
}

th:nth-child(4),
td:nth-child(4) {
    border-right: none;
}

.w8__table__column-label {
    padding: 0 .25rem;
}

.w8__table__column-icon,
#sort-by-weight-icon,
#sort-by-difference-icon,
#sort-by-date-icon {
    padding: 0 0 .25rem;
}

.delete-weight-button {
    appearance: none;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    gap: .25rem;
    transition: all 250ms ease-in-out;
}

.delete-weight-button img {
    transition: all 250ms ease-in-out;
}

.delete-weight-button:hover {
    color: red;
    background: none;
    cursor: pointer;
    img {
        filter: brightness(0) saturate(100%) invert(15%) sepia(100%) saturate(6000%) hue-rotate(0deg) brightness(100%) contrast(100%);
    }
}
